<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../../assets/images/profileimage.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to Digital Resume Builder <span></span></h2>
              <p class="animate__animated animate__fadeInUp">The Digital resume builder uses resume templates that can add,save,edit,even customise the personal details of the user.create your profile now to find your resume and get start unlimited sharing of your resume weblink.</p>
              <button  class="btn-get-started animate__animated animate__fadeInUp scrollto" (click)='checkUser()'>Create a Profile Now</button>>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        

        <!-- Slide 3 -->
        

      </div>

      

    </div>
  </section><!-- End Hero -->

   <!-- ======= About Section ======= -->
   <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6">
          <h2>The easiest way for creating your resumes</h2>
          <h3>Attractive and professional designs..Everything you want</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Writing a resume can be intimidating and confusing task especially for beginner resume writers and for any job seekers.Now technology has completely changed ,so that resume making can be dynamic rewarding experience , a time to focus on your goal and achievement while leaving the details to an Digital Resume Builder.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i>It organizes the work history,  education and other professional experiences into a cohesive resume</li>
            <li><i class="ri-check-double-line"></i>It can be downloaded in different formats as per one's need.</li>
            <li><i class="ri-check-double-line"></i> User can access the app whenever they need using your digital resume builder account</li>
          </ul>
          <p class="fst-italic">
            The user  can also create a weblink for their resumes and can do unlimited sharing over email and social media.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
