<div class="section layout_padding pogo-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full center">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color">About Us</span> </h2>
                        <p class="large" style="color: blue;">We are proud to be a help in creating your life changing rsume</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section -->
<div class="section layout_padding theme_bg ">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
                <div class="full">
                    <img class="img-responsive" src="../../assets/images/gettyimages.jpg" alt="#" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 white_fonts">
                <h3 class="small_heading">Our resume builder is 100% free to use</h3>
                <p>> Resume.com has no cost and no limitations. Access features that will help you get hired</p>
                <p>> Build a professional resume</p>
                <p>> Choose from Our resume templates that highlight your best qualities</p>
                <p>> Print, download and share your resume instantly in formats like PDF</p>
                <p>> Log in to your account to update your resume online</p>
                <!-- <a href="#" class="hvr-radial-out button-theme">Get Started ></a> -->
            </div>
        </div>
    </div>
</div>
