<div class="section" id="portfolio">
<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="h4 text-center mb-4 title">Here you can choose your Template/Design</div>
    </div>
  </div>
  <div class="tab-content gallery mt-5">
    <div class="tab-pane active" id="web-development">
      <div class="ml-auto mr-auto">
        <div class="row">
          <div class="col-md-6">
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a (click)='onetemp()'>
                <figure class="cc-effect"><img src="../../assets/images/onetemp.jpeg" alt="Image"/>
                  <figcaption>
                    <div class="h4">OREON BLUE</div>
                    <p>Attractive Template</p>
                  </figcaption>
                </figure></a></div>
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a (click)='twotemp()'>
                <figure class="cc-effect"><img src="../../assets/images/twotemp.png" alt="Image"/>
                  <figcaption>
                    <div class="h4">NOVA PEACH</div>
                    <p>Classic Resumes</p>
                  </figcaption>
                </figure></a></div>
          </div>
          <div class="col-md-6">
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a (click)='threetemp()'>
                <figure class="cc-effect"><img src="../../assets/images/threetemp.png" alt="Image"/>
                  <figcaption>
                    <div class="h4">MULBERRY WHITE</div>
                    <p>Coloured Resumes</p>
                  </figcaption>
                </figure></a></div>
            <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a (click)='fourtemp()'>
                <figure class="cc-effect"><img src="../../assets/images/fourtemp.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">PEARL BLISS</div>
                    <p>Simple Resumes</p>
                  </figcaption>
                </figure></a></div>
             </div>
             <div class="col-md-6">
             <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a (click)='fivetemp()'>
                <figure class="cc-effect"><img src="../../assets/images/fivetemp.jpg" alt="Image"/>
                  <figcaption>
                    <div class="h4">CLASSIC BLACK</div>
                    <p>Effective Resumes</p>
                  </figcaption>
                </figure></a></div>
                
            </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
</div>
